<nav class="nav admin-nav">
  <%= link_to 'TestGuru', root_path %>
  <% if user_signed_in? %>
    <div class='user'>
      Welcome, <b><%= current_user.email %></b>, Guru
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    </div>
  <% end %>
</nav>
