<% if object.present? && object.errors.any? %>
<%= content_tag :div, class: 'alert alert-warning m-2 resource-errors',
  data: {object_id: object.id } do %>
  <h3>
    <%= t('.header', count: object.errors.count) %>:
  </h3>
  <ul>
    <% object.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<% end %>
