<nav class="nav">
  <%= link_to 'TestGuru', root_path %>
  <% if logged_in? %>
    <div class='user'>
      Welcome, <b><%= current_user.email %></b>, Guru
      <%= link_to 'Logout', logout_path, method: :delete %>
    </div>
  <% end %>
</nav>
