<li><%= answer.body %><br>
<div class="btn-group btn-group-sm">
  <div class="btn btn-outline-secondary">
    <%= t(".#{answer.correct}") %>
  </div>
  <%= link_to t('links.edit'), edit_admin_answer_path(answer), class: 'btn btn-primary' %>
  <%= link_to t('links.delete'), admin_answer_path(answer), method: :delete, class: 'btn btn-danger' %>
</div>
</li>
