<tr>
  <td><%= question.body %></td>
  <td><%= link_to t('links.show'),admin_question_path(question)%></td>
  <td><%= link_to t('links.edit'), edit_admin_question_path(question) %></td>
  <td><%= link_to t('links.delete'),admin_question_path(question), method: :delete %></td>
</tr>
