<p>Приветствуем, <%= @email %>!</p>

<p>Вам необходимо подтвердить адрес электронной почты по ссылке:</p>

<p><%= link_to 'Подтвердить почту', confirmation_url(@resource, confirmation_token: @token) %></p>
