<p>Hello <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку на изменение пароля. Вы можете изменить парол пройдя по ссылке ниже.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не сбрасывали пароль, то просто проигнорируйте это сообщение.</p>
<p>Ваш пароль не изменится, пока вы не перейдете по ссылке выше и не введете новый.</p>
