<p>Привет, <%= @resource.email %>!</p>

<p>Ваш аккаунт заблокирован из-за большого количества неудачных попыток входа.</p>

<p>Перейдите по ссылке, чтобы разблокировать Вашу учетную запись:</p>

<p><%= link_to 'Разблокировать учетную запись', unlock_url(@resource, unlock_token: @token) %></p>
