<div class="test-card card">
  <div class="card-head">
    <h3><%= test.title %></h3>
  </div>
  <div class="card-body">
    <p>
      <b>Level:</b> <%= test.level %>
    </p>
    <p>
      <b>Cuestions:</b> <%= test.questions.count %>
    </p>
  </div>
  <div class="card-footer actions">
    <%= button_to 'Start', start_test_path(test) %>
  </div>
</div>
<hr>
